<div class="bg">

    <div class="container">
        <h1 class="display-4">Comid App</h1>
        <h5 class="lead">Esta es una aplicacion de Comics</h5>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus placeat earum culpa asperiores adipisci in. Officia, et enim doloremque assumenda beatae placeat accusamus iusto, molestias veritatis aspernatur distinctio expedita!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus placeat earum culpa asperiores adipisci in. Officia, et enim doloremque assumenda beatae placeat accusamus iusto, molestias veritatis aspernatur distinctio expedita!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus placeat earum culpa asperiores adipisci in. Officia, et enim doloremque assumenda beatae placeat accusamus iusto, molestias veritatis aspernatur distinctio expedita!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus placeat earum culpa asperiores adipisci in. Officia, et enim doloremque assumenda beatae placeat accusamus iusto, molestias veritatis aspernatur distinctio expedita!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus placeat earum culpa asperiores adipisci in. Officia, et enim doloremque assumenda beatae placeat accusamus iusto, molestias veritatis aspernatur distinctio expedita!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus placeat earum culpa asperiores adipisci in. Officia, et enim doloremque assumenda beatae placeat accusamus iusto, molestias veritatis aspernatur distinctio expedita!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus placeat earum culpa asperiores adipisci in. Officia, et enim doloremque assumenda beatae placeat accusamus iusto, molestias veritatis aspernatur distinctio expedita!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus placeat earum culpa asperiores adipisci in. Officia, et enim doloremque assumenda beatae placeat accusamus iusto, molestias veritatis aspernatur distinctio expedita!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus placeat earum culpa asperiores adipisci in. Officia, et enim doloremque assumenda beatae placeat accusamus iusto, molestias veritatis aspernatur distinctio expedita!</p>
</div>